<div class="playlist container">
  <div class="playlist__row row">
    <div class="playlist__left col-5">
      <a [href]="playlist?.url" [title]="playlist?.name" target="”_blank”"
        ><img
          [src]="playlist?.artwork"
          [alt]="playlist?.name"
          class="playlist__image"
      /></a>
    </div>
    <div class="playlist__right col-7">
      <a
        [href]="playlist?.url"
        [title]="playlist?.name"
        class="playlist__link"
        target="”_blank”"
        >{{ playlist?.name }}
      </a>
      <span class="playlist__extra">{{ playlist?.curator_name }}</span>
    </div>
  </div>
</div>
