@import 'variables';

.featured-playlists {
  max-width: 1280px;

  &__title {
    font-size: $titleH1FontSize;
    font-weight: $titleH1FontWeight;
    color: $titleH1TextColor;
    border-bottom: 1px solid $borderColor;
    padding: 15px 0;
    margin: 0;
  }

  &__row {
    padding-top: 20px;
  }
}
