@import 'variables';

.featured-playlists {
  max-width: 1280px;

  &__title {
    font-size: $title-h1-font-size;
    font-weight: $title-h1-font-weight;
    color: $title-h1-text-color;
    border-bottom: 1px solid $border-color;
    padding: 15px 0;
    margin: 0;
  }

  &__row {
    padding-top: 20px;
  }
}
