@import 'variables';

// Links

a {
  font-size: $link-font-size;
  font-weight: $link-font-weight;
  color: $link-text-color;

  &:hover {
    color: $link-text-color;
  }
}

// Titles

h1 {
  color: $title-h1-text-color;
  font-size: $title-h1-font-size;
  font-weight: $title-h1-font-weight;
}
