// Links

$linkTextColor: #000000;
$linkFontSize: 20px;
$linkFontWeight: 500;

// Titles

$titleH1TextColor: #000000;
$titleH1FontSize: 24px;
$titleH1FontWeight: 600;

$subtitleTextColor: #6c757d;
$subtitleFontSize: 13px;
$subtitleFontWeight: normal;

// Borders

$borderColor: #8e8e93;

// Backgrounds

$navigationBackground: rgba(0, 0, 0, 0.8);

// Loader

$loaderColor: rgba(0, 0, 0, 0.8);
